[submodule "vim"]
	path = vim
	url = https://github.com/challenger-deep-theme/vim
[submodule "emacs"]
	path = emacs
	url = https://github.com/challenger-deep-theme/emacs
[submodule "iterm"]
	path = iterm
	url = https://github.com/challenger-deep-theme/iterm
	branch = master
[submodule "xresources"]
	path = xresources
	url = https://github.com/challenger-deep-theme/xresources
	branch = master
[submodule "tmux"]
	path = tmux
	url = https://github.com/challenger-deep-theme/tmux
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/challenger-deep-theme/alacritty
[submodule "kitty"]
	path = kitty
	url = https://github.com/challenger-deep-theme/kitty
[submodule "gnome-terminal"]
	path = gnome-terminal
	url = git@github.com:challenger-deep-theme/gnome-terminal.git
[submodule "blink"]
	path = blink
	url = git@github.com:challenger-deep-theme/blink.git
